* {
    margin:0; 
    padding:0;
}

nav {
  margin:auto;
  text-align: center;
  width: 100%;   
  font-family: poppins;
} 

nav ul {
   background:#f8b7b7b0;
   padding: 0 20px;
   list-style: none;

   display: inline-table;
   width: auto;
}

nav ul li{
   float:left;
}

nav ul li:hover{
   background:#d68d9a;
}

nav ul li:hover a{
    color:#000;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: rgb(212, 110, 110);
    font-family: poppins;
    text-decoration: none;
}
.navbar {
    margin: 3px 94px;
    display: flex;
    justify-content: space-between;
}
.menu ul {
    display: flex;
    justify-content: center;
}
.menu li {
    margin: 0px 15px;
}

* {
    margin-top: 0;
    padding: -50px;
    font-family: "Helvetica";
}
.box {
  width: 500px;
  padding-top: -20;
  background-color: white;
  box-shadow: 0 0 20px 0 #999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
form {
  margin: 40px;
}
h1 {
  color: rgb(0, 0, 0, 70%);
  font-family: poppins;
  margin: 10px 0px;
  text-align:center;
  width: 100%;
}
.input-field {
  width: 400px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  border: 1px solid #777;
  border-radius: 10px;
  outline: none;
}
.textarea-field {
  height: 40px;
  padding-top: 20px
}
.btn {
  border-radius: 20px;
  color: white;
  margin-top: 20px;
  padding: 10px;
  background-color: #d68d9a;
  border: none;
  cursor: pointer;
}
button:hover{
    opacity:0.9;
}

.posisi{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  margin-top: auto;
  left: 0;
  right: 0;
  top: 100px;
  bottom: 0;
}
.footer {
  position:absolute;
  left: 0;
  width: 100%;
  bottom: -100px;
  padding: 7px 0px;
  background-color: #e9a0ab;
}
.footer p {
  color: rgb(75, 12, 50);
  text-align:center;
  font-family: poppins;
}