* {
    margin:0; 
    padding:0;
}

nav {
   margin:auto;
   text-align: center;
   width: 100%;
   font-family: poppins;
} 

nav ul {
   background:#f8b7b7b0;
   padding: 0 20px;
   list-style: none;
 
   display: inline-table;
   width: auto;
}

nav ul li{
   float:left;
}

nav ul li:hover{
   background:#d68d9a;
}

nav ul li:hover a{
    color:#000;
}

nav ul li a{
    display: block;
    padding: 25px;
    color: rgb(212, 110, 110);
    text-decoration: none;
}
.navbar {
    margin: 3px 94px;
    display: flex;
    justify-content: space-between;
}
.menu{
    z-index: 4;
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: auto;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.menu ul {
    display: flex;
    justify-content: center;
}
.menu li {
    margin: 0px 15px;
}
.content{
    flex: none;
    order: 1;
    flex-grow: 0;
}
h1 {
    color: #353535;
    font-family: poppins;
    margin: 80px 0px;
    text-align: center;
    width: 100%;
}

table,tr,td{
    background-color: #F9C1C4;
    font-family: Poppins;
    color: black;
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
 }
 
.posisi{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-top: auto;
    left: 0;
    right: 0;
    top: 100px;
    bottom: 0;
 }
 .footer {
    position:absolute;
    left: 0;
    width: 100%;
    bottom: -100px;
    padding: 7px 0px;
    background-color: #e9a0ab;
 }
 .footer p {
    color: rgb(75, 12, 50);
    text-align:center;
    font-family: poppins;
 }